/* use this to put borders around things... */

body{
 background-image: url('back.jpg');
 background-repeat: no-repeat;
 background-position: center;
background-size: cover;
}
h1{
position: relative;
        
font-family:monospace;
left: 20px;
right:200px;
		
	color:white;
	font-size: 100px;
	border: 5px ;}
h3{
font-family: monospace;
font-size:30pt;
color:white;

}
p{
font-family: monospace;
font-size:20pt;
color:white;
background:black;

}
a{
 float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
position: relative;
}
div{
position: relative;

}
.crop-img{
  max-height:150px;
  max-width:100%;
  margin-bottom: 10px;
}




.large-img{
  max-width:100%;
  margin-top: 10px;
}



header{
	height: 160px;
	background: url(back.jpg);
}

#form{
	height: 70%;	
	background-color: black;
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
